#dexter{
        background-image: url("../images/dexter_carry_2.jpg");
        background-attachment: fixed;
        background-size: cover;
    .mainImage{
        height: 81vh;
    }
    .mainText{
    height: 60vh;
    background-color: black;
    // color:black;
    opacity:0.8;
        h3{
            margin-top: 10%;
            top: 50%;
            color:white;
        }
    }
    .white{
        padding:0;
        height: 100vh;
        .row{
            margin-bottom: 0;
        }
        .dexterFeatures{
            margin-top:83px;
            ul{
                li{
                    padding-top: 20px;
                }
            }
        }
        .dexterImage{
            height:100vh;
            padding: 0px;
            .img-responsive{
                width:100%;
            }
        }
    }
}

#seat{
    background-image: url("../images/seat_background.jpg");
    background-attachment: fixed;
    background-size: cover;
    .mainImage{
        height: 81vh;
    }
    .mainText{
    height: 60vh;
    background-color: black;
    // color:black;
    opacity:0.8;
        h3{
            margin-top: 10%;
            top: 50%;
            color:white;
        }
    }
    .white{
        padding: 0;
        height: 100vh;
        .seatFeatures{
            margin-top: 83px;
            ul{
                li{
                    padding-top: 20px;
                }
            }
        }
        .seatImage{
            padding: 0;
            height:80vh;
            .img-responsive{
                width:100%;
            }
        }
    }
}

#contact{
    margin-top: 90px;
    position: relative;
    .contact-us{
        // position: absolute;
        // margin: auto;
        img{
            margin-left: 90px;
        }
    }
}